.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 10;
}

.modal {
  background: #666c84;
  margin: auto;
  margin-top: 10%;
  width: 50%;
  max-width: 400px;
  padding: 20px 30px;
  border-radius: 5px;
  font-size: 20px;
}

.list-link {
  display: inline-block;
  cursor: pointer;
  color: #11e384;
}

.error-header {
  display: inline-block;
  margin: 40px 0 0;
}

.modal-close-icon {
  cursor: pointer;
  float: right;
  position: absolute;
}
