.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #666c84;
}

.nav-bar-content {
  margin: auto;
  color: white;
}

.nav-bar-content a {
  color: white;
  background: grey;
  padding: 10px;
  border-radius: 5px;
}

.header-input {
  padding: 10px;
  border-radius: 5px;
}
