.legend {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: auto;
}

.legend-details {
  margin: 0 10px;
  padding: 5px;
  width: 15%;
}

.legend-link {
  display: flex;
}

.legend-square,
.legend-text {
  transition: 0.3s;
}

.legend-link:hover .legend-square {
  transition: 0.3s;
  width: 35px;
  height: 35px;
}

.legend-stats {
  margin-top: 10px;
}
.currently {
  margin: 5px;
  text-decoration: underline;
}
.legend-link-contents {
  display: flex;
  margin: auto;
  justify-content: space-around;
}

.close {
  display: inline-block;
  margin-bottom: -6px;
}

.legend-company-name {
  display: flex;
  max-width: 200px;
  margin-bottom: -8px;
  justify-content: center;
}

.legend-square {
  height: 30px;
  width: 30px;
  display: inline-block;
  border-radius: 5px;
}

.legend-text {
  font-size: 20px;
  margin: auto auto auto 10px;
}
