.legend {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: auto;
}

.legend-details {
  margin: 10px;
  padding: 5px;
}

.legend-link {
  display: flex;
}

.legend-link-contents {
  display: flex;
  margin: auto;
  justify-content: space-around;
}

.close {
  line-height: 50px;
  display: inline-block;
  margin-bottom: -6px;
}

.legend-company-name {
  display: flex;
  max-width: 200px;
  margin-bottom: -8px;
}

.legend-square {
  height: 30px;
  width: 30px;
  display: inline-block;
  border-radius: 5px;
}

.legend-text {
  font-size: 20px;
  margin: auto auto auto 10px;
}
