@keyframes spinner {
  0% {
    transform: rotate(0deg);
    height: 10%;
    width: 10%;
  }
  25% {
    transform: rotate(360deg);
    height: 5%;
    width: 5%;
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
    height: 10%;
    width: 10%;
  }
}

#loader {
  margin: 25px auto;
}

#loader {
  -webkit-animation: spinner 3s infinite;
  -moz-animation: spinner 3s infinite;
  -o-animation: spinner 3s infinite;
  animation: spinner 3s infinite;
}

.loading-appear {
  opacity: 0.01;
}

.loading-appear.loading-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
