.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 6px;
  opacity: 0.6;
  transition: 0.3s;
}
.line:hover {
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
  stroke-width: 8px;
}

.graph {
  background: #eeeeee;
  padding: 0 40px 20px;
  margin: 0 0 20px;
  overflow: visible;
}
